/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    padding: 0.5em;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* List section */
#list-container {
    background-color: rgb(139, 69, 19);
    border: 3px solid rgb(0, 0, 0);
    color: rgb(243, 148, 65);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em auto;
    padding: 0.4em;
    text-align: center;
    width: 50%;
}

#top-section {
    margin: 0.5em 0;
}

#user-input {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0.5em 0;
    padding: 0.3em 1em;
    width: 50%;
}

#instruction {
    display: none;
    font-weight: bold;
    margin: 0.3em;
}

/* Classes */
.flex-container {
    border-bottom: 1.5px solid rgb(31, 39, 31);
    display: flex;
    justify-content: space-between;
    margin: 0.4em auto;
    padding: 0.25em;
    width: 70%;
}

.task-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.task {
    background-color: inherit;
    color: rgb(243, 148, 65);
    font-size: 1.3rem;
    font-weight: 500;
    height: 100%;
    width: 80%; 
}

.edit-btn {
    padding: 0.5em 1em;
}

.close-btn {
    cursor: pointer;
    font-size: 2rem;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 1050px) {
    #user-input {
        width: 75%;
    }
}

@media only screen and (max-width: 750px) {
    h2 {
        font-size: 1rem;
    }

    #list-container {
        width: 90%;
    }

    #user-input {
        font-size: 0.6rem;
        padding: 0.25em;
    }

    button {
        font-size: 0.75rem;
        padding: 0.3em;
    }

    .flex-container {
        width: 100%;
    }

    .task {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    #list-container {
        width: 95%;
    }

    button {
        padding: 0.2em;
    }
}
