/* General styles */
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 140, 60);
    color: rgb(255, 255, 255);
}

header {
    align-items: center;
    background-color: rgb(255, 99, 71);
    border: 2px solid rgb(139, 69, 19);
    display: flex;
    font-size: 0.8rem;
    height: 10vh;
    justify-content: center;
}

button {
    background-color: rgb(160, 82, 45);
    border: 2px solid rgb(178, 34, 34);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 0.9rem;
    outline: none;
    padding: 0.5em 1em;
}

button:hover {
    background-color: rgb(205, 92, 92);
    color: rgb(0, 0, 0);
}

/* Specific styles */

/* Example */
#example {
    border: 2px solid rgb(56, 99, 0);
    color: rgb(255, 252, 220);
    margin: 1em auto;
    font-size: 0.8rem;
    padding: 0.5em;
    line-height: 1.3;
    max-width: 600px;
    text-align: center;
    width: 90%;
}

/* Main section */
#main-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Passage section */
#passage-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 85%;
}

#passage {
    border: 2px solid rgb(47, 79, 79);
    color: rgb(178, 34, 34);
    font-size: 1.2rem;
    outline: none;
    resize: none;
}

#passage-section div {
    margin: 1em auto;
}

/* Instruction */
#instruction {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#results {
    line-height: 1.3;
    margin: 1em 0;
    max-width: 200px;
    width: 80%;
}

#words-element,
#sentences-element {
    color: rgb(117, 41, 28);
    font-size: 1.3rem;
    font-weight: bold;
}

/* Classes */
.result-style {
    border: 2px solid rgb(64, 46, 146);
    padding: 0.5em;
}
